body,html{
    height: 100%;
    width: 100%;
    margin: 0;
}
.col-lg-6{
    width: 48%;
}
/*******************Header css*************************/
    nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        background: rgba(0,0,0,0.5);
    }
    nav li {
        display: inline-block;
        padding: 24px 10px;
    }
    nav li a {
        color: #757575;
        text-transform: uppercase;
    }
    nav li a:hover{
        color:rgba(252, 106, 106);
        text-decoration: none;
    }
    .screen1{
        background: url('wedredVi.gif');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mainJ{
        /* background: linear-gradient(to right top, black 0%, grey 30%); */
        /* background: url('background.jpg'); */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        text-align: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    #wedredLogo{
        text-align: center;
        border-radius: 100%;
        opacity: 0.9;
        /* top: 10%;
        margin-top: 0px; */
        animation: bounceIn 0.6s;
        transform: rotate(0deg) scale(1) translateZ(0);
        transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
        cursor: pointer;
    }
    #wedredLogo:hover{
        transform: rotate(-3deg) scale(1.1);
    }
    .wrapVid{
        z-index: -1000;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow-x: hidden;
    }
    .content{
        position: absolute;
        width: 100%;
        z-index: 1000;
        left: 0;
        top: 0;
        padding-top: 50px;
    }
    #myVideo{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        /* padding: 0;
        margin: 0;
        height: 100%; */
    }
/******************Footer Css**************************/
    .iconsRow{
        height: 50px;
        text-align: center;
        padding: 10px;
    }

    footer{
        background: black;
        color: white;
    }
    .wrapVid #myVideo {
        min-width: 100%; 
        min-height: 100%;     
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .copyrightRow{
        background: rg;
    }
/******************Homepage css************************/
    /***************About us******************/
    .screen2{
        margin: 10% auto;
    }
    .aboutContainer{ 
        text-align: center;
        padding-bottom: 50px;
        margin-bottom: 130px;
        margin-top: 40px;
    }
     .aboutRow{
        margin: 0;
        padding: 0;
        height: 100%;
     }
     .slideshow {  
        width: 550px;  
        height: 500px;  
        overflow: hidden;
        border: 1px solid black;
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 40px;
     }  
     .slideshow ul {  
        width: 400%;  
        height: 200px;
        padding:0;
        margin:0;
        list-style:none;
     }  
     .slideshow li {
          float: left; 
    }
     .slides{
        width:550px;
        height:500px;
     }

    .about{
        background: white;
        height: 100vh;
        background-attachment: fixed;
    }
    .aboutContainer{
        margin: 0;
        padding: 0;
    }


    /*photomoments screen2 */
    #photomoments{
        background: lightgray;
        width: 100%;
        height: 100vh;
    }

    .Pimgs{
        column-count: 3;
        padding: 0;
    }

    .card{
        height: auto;
        width: 100%;
        padding: 5px;
    }
    /***************Craft******************/
    /****************Film*****************/
    .screen6{
        /* border: 1px solid black; */
        margin: 10% auto;
        background: whitesmoke;
        height: 70vh;
    }
    .screen6 .container{
        width: 100%;
        height: auto;
       text-align: center;
    }
    .h1film{
        text-align: center;
        margin-bottom: 5%;
    }
    .page2,.page3,.page4,.page5{
        display: none;
    }
    .page1,.page2,.page3,.page4,.page5{
        margin-left: 6%;
    }
    .vid-container{
        float: left;
        display: block;
        width: 30%;
        margin-left: 3%;
    }
    .title1, .title2{
        text-align: center;
        font-size: 20px;
        color: black;
        height: 30px;
        margin-top:30px;
        width: 100%;
    }
    .vid{
        width: 280px;
        height: 210px;
    }
    .vid-container {
      display: block;
      text-align: center;
      transition: all 0.28s ease-out;
      float: left;
      margin: 5px;
      /* position:relative; */
      border: none;
    }
    .vid-container::after {
      content: " ";
      width:100%;
      height:100%;
      /* position:absolute; */
      top:0;
      left:0;
      text-align: center;
      transition: all 0.5s ease-out;
      pointer-events: none;
    }
    .vid-container:hover {
      transform: scale(1.4,1.4);
    }
    .vid-container:hover::after {
      opacity:1;
}
    /***************Services******************/
    /***************Travel*******************/
    .travelHeading{
        background-color: white !important;
        text-align: center;
        font-size: 40px;
        width: 100%;
        height: 40px;
    }
    .thumbnail:hover .images{
        opacity: 0.6;
    }
    .thumbnail:hover .middle{
        opacity: 1;
    }
    .middle{
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text{
        color: white;
        background-color: black;
        font-size: 20px;
        padding: 16px 32px;
    }
    #d1{
        padding-top: 17px;
        height:100%;
        width:100%;
        /* margin-top: 80px; */
        text-align: center;
    }
    .images{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
    }
    /***************Team******************/
    /***************Contact******************/
    .screen4, .screen3{
        margin: 10% auto;
    }
    .screen4{
        padding: 0;
        margin:0;
    }

    .contactUs{
        margin: 30px;
    }
    .contactBoxAndHeading{
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        font-size: 16px;
        display: block;
        width: 600px;
        text-align: center;   
    }
    .contactBoxAndHeading:hover{
        border: 1px solid black;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
        transition: 1s;
    }
    .contactBox{
        padding: 10px;
        margin-top: 0px;
        margin-right: 30px;
        margin-left: 30px;
        margin: 0px 30px 30px 30px;
        /* border: 1px solid rgba(0,0,0,0.1); */
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        font-size: 16px;
        display: block;
        width: 500px;
        text-align: center;
    }
    .contactBox:hover{
        background: rgba(231,212,121,0.1);
    }
    .ip{
       width: 100%;
       margin-bottom: 10px;
       border: 1px solid lightgray;
       text-align: center;
    }
    #contact{
        margin: 50px auto;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    #sendButton{
        background: black;
        margin-bottom: 0px;
        border-radius: 0;
        color: white;
        border: none;
        display: block;
        width: 100%;    
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }
    #mapLocation{
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 77.4%;
        height: 0;
        overflow: hidden;
    }
    .contactHeading{
        background-color: white !important;
        text-align: center;
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
        width: 100%;
        height: 40px;
    }
    .ourInformation{
        width: 100%;
    }
    /*map*/
    .padding-0{
        padding-left: 0;
        padding-right: 0;   
    }
/***************Homepage css end******************/

@media screen and (max-width: 2560px){
}
@media screen and (max-width: 1026px){
    #wedredLogo{
        margin-top: 350px;
    }
    .col-lg-6{
        width: 100%;
        margin:50px 180px;
    }
    .about{
        height: 80vh;
        overflow: hidden;
    }
    .headingText{
        width: 580px;
        margin-left: -20px;
        } 
    .aboutPara{
        width: 593px;
        margin-left: -20px;
    }
    .map-google{
        margin-left: -370px;
    }
    #contact{
        margin: 50px 14px;
    }
    .contactUs{
        margin: 40px 40px;
    }
    .col-lg-4{
        width: 33%;
        display: block;
        float: left;
    }
}
@media screen and (max-width: 769px){
    section,footer{
        width: 1044px;
    }
    nav{
        width: 1044px;
        overflow: hidden;
    }
    .screen1{
        background: #424242;
    }
    .col-lg-6{
        margin: 50px 90px;
    }
    .screen1,.screen2,.screen5,.screen6{
        width: 1044px;
        overflow: hidden;
    }
    #wedredLogo{
        margin-top: 250px;
    }
    .headingText{
        width: 570px;
    }
    .aboutPara{
        width: 570px;
    }
    .Pimgs{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -moz-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
    }

    .contactUs{
        margin: 40px 100px;
    }
    .map-google{
        margin-left: -200px; 
    }
}
@media screen and (max-width: 560px){
    .col-lg-6{
        width: 413px;
    }
    nav{
        overflow: hidden;
        width: 413px;
    }
    nav li {
        padding: 24px 4px;
    }
    nav li a {
        font-size: 14px;
    }
    footer{
        width: 413px;
        overflow: hidden;
    }
    .screen1,.screen2,.screen3,.screen4,.screen5,.screen6{
        width: 413px;
        overflow: hidden;
        height: auto;
    }
    #wedredLogo {
        margin-top: 150px;
        width: 400px;
        height: 450px;
        overflow: hidden;
    }
    .slideshow{
        width: 350px;
        height: 350px;
        margin-left: -75px;
    }
    .headingText,.aboutPara{
        width: 320px;
        margin-left: -60px;
        overflow-x: hidden;
    }
    #contact{
        margin: 0;
    }
    .contactBox{
        width: 250px;
        overflow-x: hidden;
    }
    .contactBoxAndHeading{
        width: 332px;
    }
    .contactUs{
        width: 390px;
        margin-left: -82px;
        overflow-x: hidden;
    }
    .map-google{
        width: 360px;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 390px){
    section,footer{
        width: 412px;
    }
    #wedredLogo{
        margin-top: 80px
    }
    .slideshow{
        width: 300px;
        height: 300px;
        margin-left: -75px;
    }
    .headingText, .aboutPara{
        width: 270px;
    }
    .Pimgs{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
    }
    .contactUs{
        margin-left: -89px;
    }
}
@media screen and (max-width: 321px){
    #wedredLogo{
        margin-top: 60px;
    }
}
        /*****************UNUSED CSS!!!!!! ******************/
                        navbar {
                            float:none;
                            display:inline-block;
                            vertical-align: top;
                        }
                        .fixed{
                            position: fixed;
                            top: 0;
                            height: 70px;
                            z-index: 1;
                            background: black;
                            color: white;
                            font-weight: bold;
                        }
                        .screen3{
                            background: lightgray;
                            height: 100vh;
                            width: 100%;
                            margin: 10px auto;
                        }
                        .ourInfoHeader{
                            text-align: center;
                        }
                        /*cards*/
                        .screen8{
                            z-index: -1000;
                        }
                        .card{
                            width: 150px;
                            height: 300px;
                            display: inline-block;
                        }
                        .card:hover{
                            transform: scale(1.3);
                        }
                        .allFive{
                            display: inline-block;
                            margin: 30px;
                        }
                        .one{
                            background-color: black;
                        }
                        .two{
                            background-color: grey;
                        }
                        .three{
                            background-color: aqua;
                        }
                        .mySlides{
                            z-index: -1000;
                        }
                        .four{
                            background-color: aquamarine;
                        }
                        .five{
                            background-color: blue;
                        }
                        .screen8{
                            background-color: wheat;
                        }
                        .navPagination{
                            margin-left: 42%;
                            margin-bottom: 20px;
                        }
                        .dot {
                            height: 15px;
                            width: 15px;
                            margin: 0 2px;
                            background-color: #bbb;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease;
                          }
            /*****************UNUSED CSS end***********************/
/******************Commented css***********************/
/* Fading animation */
/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  } */ 
  /* .ip:hover{
    background: rgba(255, 180, 180, 0.1);
} */
/* .socialmedia{
    float:left;
    margin-left: 270px; 
    text-align: center;
    display: inline-block; 
    width: 400px;
} */
/* 
.title1:hover, .title2:hover{
    background: red;
} */

/* .wrapVid{
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.videobox{
    position: relative;
    top: 0;
    z-index: -1000;
    opacity: 0.5;
}


.overlays{
    position:absolute;
    width:160px;
    min-height:40px;
    background-color:#dadada;
    z-index:300000;
    bottom:10px;
    left:10px;
    text-align:center;
} */



/* .contactUs{
    width: 400px;
    text-align: center;
} */


